<%= content_tag :div,
      id: "#{form.object.class.to_s.underscore}_#{form.object.new_record? ? 'new' : form.object.id}",
      class: 'pshr-uploader', data: { "controller": "pshr-uploader",
      "pshr-uploader-endpoint": "#{main_app.pshr_path.split('?').first}/files".gsub("//", "/"),
      "pshr-uploader-max-number-of-files": 1,
      "pshr-uploader-whitelist": "#{form.object.class.whitelist.blank? ? false : form.object.class.whitelist.join(',')}",
      "pshr-uploader-max-file-size": form.object.class.max_file_size,
      "pshr-uploader-auto-submit": "true" } do %>

  <%= form.hidden_field :uploadable_type, value: form.object.uploadable_type %>
  <%= form.hidden_field :uploadable_id, value: form.object.uploadable_id %>
  <%= form.hidden_field :file, value: nil, data: { "target": "pshr-uploader.file" } %>

  <div class="pshr-uploader__drop" data-target="pshr-uploader.drop">
    <div class="pshr-uploader__drop__thumb" data-target="pshr-uploader.thumb">
      <% if form.object.file %>
        <%= render 'pshr/uploads/thumb', file: form.object.reluctant_file %>
      <% else %>
        New Upload
      <% end %>
    </div>
  </div>

  <% if form.object.file %>
    <div class="pshr-uploader__info">
      <%= form.object.mime_type %><br>
      <%= form.object.reluctant_file.original_filename %>
    </div>
  <% end %>
<% end %>
